<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false">

  <agm-marker
    *ngFor="let m of properties$ | async; let i = index"
    (markerClick)="clickedMarker(m.id)"
    [latitude]="m.lat"
    [longitude]="m.lng"
    [iconUrl]="m.id == (selectedPropertyId$.asObservable() | async)  ? DARK_MARKER : LIGHT_MARKER">
  </agm-marker>
</agm-map>

<app-property-carousel [properties$]="properties$" [selectedPropertyId$]="selectedPropertyId$"></app-property-carousel>
